security:
  password_hashers:
    App\Entity\User: "auto"
  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: username
  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false
    auth:
      pattern: ^/api/v1/auth
      stateless: true
      security: false
    api:
      pattern: ^/api
      stateless: true
      provider: app_user_provider
      jwt: ~
  access_control:
    - { path: ^/api/v1/auth, roles: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/api/v1/stats, roles: IS_AUTHENTICATED_FULLY }
    - { path: ^/api/v1/routes, roles: IS_AUTHENTICATED_FULLY }
